#settings-cell
{
	font-size: 16px;
	padding: 16px;
}

.settings-text
{
	padding-left: 4px;
}

.settings-small-gap
{
	padding-top: 12px;
}

.settings-big-gap
{
	padding-top: 24px;
}

.settings-field
{
	width: 504px;
	height: 40px;
	font-size: 32px;
	padding-left: 8px;
}

.settings-submit
{
	width: 518px;
	height: 40px;
	font-size: 24px;
}

.settings-comment
{
	padding-left: 4px;
	font-size: 16px;
	color: #444444;
	font-style: italic;
}
